@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

@import "tailwindcss";

@layer base {
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Google Sans", sans-serif;

  }
  body{
    background-color: black;
    overflow: hidden;
  }
}

.container{
  width: 1200px;
  margin: 0 auto;
}


.active{
  background: white;
  color: black;
}



/* width of scrollbar */
::-webkit-scrollbar {
  width: 12px; /* adjust thickness */
  height: 12px; /* horizontal scrollbar height */
}

/* scrollbar track (background) */
::-webkit-scrollbar-track {
  
  border-radius: 6px;
}

/* scrollbar thumb (draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #363636; /* your thumb color */
  border-radius: 6px;
  border: 3px solid #1a1a1a; /* optional: adds padding inside track */
}

/* hover effect on thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #555555;
}

