@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

@import "tailwindcss";

@layer base {
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Google Sans", sans-serif;

  }
  body{
    background-color: #009578;
  }
}

.container{
  width: 1200px;
  margin: 0 auto;
}